<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System</h3>
            <p>
                <span sec:authentication="principal.user.nick">닉네임</span>님 반갑습니다.
                <a th:href="@{/user/logout}">[로그아웃]</a>
            </p>
        </header>
        <main id="board">
            <section class="list">
                <nav>
                    <h1>글목록</h1>
                    <form action="#">
                        <input type="text" name="search" placeholder="제목 키워드, 글쓴이 검색">
                        <input type="submit" value="검색">
                    </form>
                </nav>
                                
                <table border="0">                    
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>날짜</th>
                        <th>조회</th>
                    </tr>
                    <tr th:each="article, i:${pageResponseDTO.getDtoList()}"> <!-- 반복할때 원소와 인덱스 번호-->
                        <td>[[${pageResponseDTO.startNo - i.index}]]</td>
                        <td><a th:href="@{/article/view}">[[${article.title}]]&#91;[[${article.comment}]]&#93;</a></td>
                        <td>[[${article.nick}]]</td>
                        <td>[[${article.rdate}]]</td>
                        <td>[[${article.hit}]]</td>
                    </tr>
                </table>

                <div class="page">
                    <a th:href="@{/article/list(pg=${(pageResponseDTO.start)-1})}" class="prev" th:if="${pageResponseDTO.prev}">이전</a>

                    <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start,pageResponseDTO.end)}">
                        <a th:href="@{/article/list(pg=${num})}" class="num" >[[${num}]]</a>
                    </th:block>

                    <a th:href="@{/article/list(pg=${(pageResponseDTO.end)+1})}" class="next" th:if="${pageResponseDTO.next}">다음</a>
                </div>

                <a th:href="@{/article/write}" class="btn btnWrite">글쓰기</a>
                
            </section>
        </main>
        <footer>
            <p>
                <span class="copyright">Copyrightⓒ 김철학(개발에반하다.)</span>
                <span class="version">v1.0.1</span>
            </p>
        </footer>
    </div>    
</body>
</html>